body { 
   background: url(bg4.jpg) no-repeat center center fixed; 
  /*targets older web browsers*/
  /*webkit targets google, safari*/
  -webkit-background-size: cover; 
  /*targets firefox*/
  -moz-background-size: cover;
  /*targets opera*/
  -o-background-size: cover;
  background-size: 100%;
  font-family: 'Comfortaa', sans-serif;
}

h1{
	color: white;
	font-size: 50px;
	font-weight: normal;
	font-kerning: 10px;
	margin-bottom: 0px; 

}

h2{
	color: 	white;
	font-size: 20px;
	margin-top: 10px;
}

.bio {
	color: white;
	font-size: 14px;
}

.me {
	height: 150px;
	border-radius: 100%;
	border-style: solid;
	border-color: black;
	margin-top: 40px;
}


.about {
	width: 400px;
	/*margin right and margin left with auto, sets to center*/
	margin-left: auto;
	margin-right: auto;
	text-align: center;
)



.grey {
	height: 3px;
	background-color: grey;
	border: none: 
	width: 50px;
}


